.nav-link:hover, .myBtn:hover {
background-color: #E50914; /*netflix-red*/
border-radius: 5px;
font-weight: bold;
}

body {
    padding-top: 70px;
}

.nav-link.active {
    font-weight: bold;
}

main div {
    margin-top: 5px;
}